
<div class='header <%= if locals[:is_sticky] != nil then 'sticky' else '' end %>' >
  <header class='title'><a href='/'></a></header>
  <header class='menu'>
    <ul class='pages'>

      <li <%= current('/') %>><a href='/'>トップページ</a></li>
      <li <%= current('/users') %>><a href='/users'>投稿者別一覧</a></li>

      <% if @twitter != nil then %>
        <li <%= current('/mypage') %>><a href="/mypage">マイページ</a></li>
      <% else %>
        <li><a href="/auth">ログイン</a></li>
      <% end %>

      <li <%= current('/anonymous') %>><a href='/anonymous'>匿名投稿</a></li>
      <li <%= current('/help') %>><a href="/help">ヘルプ</a></li>
    </ul>
  </header>
</div>

