<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  $(function(){
    $('div.selector div').click(function(e) {
      $('div.selector div').removeClass('selected');
      $(e.target).addClass('selected');
      if (e.target.dataset.character == 'ALL') {
        $('tbody tr').addClass('selected');
        return;
      }
      $('tbody tr').removeClass('selected');
      $('tbody tr.' + e.target.dataset.character).addClass('selected');
    });
  });
</script>

<div class='reports_container'>
<div class='reports'>
<div class='selector'>
  <div data-character='ALL' class='selected'>ALL</div>
  <div data-character='IRONCLAD'>IRONCLAD</div>
  <div data-character='THE_SILENT'>SILENT</div>
  <div data-character='DEFECT'>DEFECT</div>
  <div data-character='WATCHER'>WATCHER</div>
</div>
<table class='reports'>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>概要</th>
      <th>キーカード</th>
      <th>キーレリック</th>
    </tr>
  </thead>
  <tbody>
  <% @reports.each do |r| %>
    <tr class='<%=h(r.run.character_chosen)%> selected'>
      <td>
        <div class='align_center'>
          <a href='/users/<%= r.author %>'>
            <img class='author' src='<%= @icons[r.author] %>' alt='<%= r.author %>'/>
          </a>
          <div class='title'>
            <a href="/report/<%= r.author %>/<%= r.run_id %>"><%= h(r.title) %></a>
          </div>
        </div>
        <p><%= h( r.description) %></p>
        <% if locals[:type] == 'anonymous' %>
          <form>
            <input type='text' name='password' size='10'/>
            <button type='submit' data-runid='<%=r.run_id%>' formmethod='GET' formaction='/anonymous/edit/<%=r.run_id%>'    class='edit_report'>編集</button>
            <button type='submit' data-runid='<%=r.run_id%>' formmethod='POST' formaction='/anonymous/delete/<%=r.run_id%>' class='delete_report'>削除</button>
          </form>
        <% end %>
      </td>
      <td>
        <div>
        <% if locals[:type] == 'edit' %>
          <a href="/mypage/edit/<%=r.run_id%>">編集</a><br/>
          <form method='POST' action='/mypage/delete/<%=r.run_id%>'>
            <button type='submit'  class='delete_report'>削除</button>
          </form>
        <% end %>
          <div class='align_center'>
            <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/ascension.png'/>
            <%= r.run.ascension_level %>
          </div>
          <div class='align_center'>
            <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/floor.png'/>
            <%= r.run.floor_reached %>
            <%= if r.run.victory then '' else '(lose)' end %>
            <br/>
          </div>
        </div>
      </td>
      <td><%= r.key_cards.map{|c| img(c)}.join %></td>
      <td><%= r.key_relics.map{|c| img(c)}.join %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
<div>
<div class='ad'>
  サイト運営者が好きなものを布教するためのスペース
<blockquote class='twitter-tweet'>
 <a href='https://twitter.com/vivit_jc/status/1528324497245634561?s=20'></a>
</blockquote>
<blockquote class='twitter-tweet'>
 <a href='https://twitter.com/vivit_jc/status/1475025627728478208?s=20'></a>
</blockquote>
<blockquote class='twitter-tweet'>
 <a href='https://twitter.com/asclannasdango/status/1410634270113107975?s=20'></a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
</div>

