<h1>SlayTheReport</h1>
<h2>top page</h2>

<ul>
  <% if session[:twitter_token] != nil and session[:twitter_secret] != nil then %>
    <li><a href="/mypage">mypage</a></li>
  <% else %>
    <li><a href="/auth">auth</a></li>
  <% end %>
  <li>
    <h3>reports</h3>
    <ul>
      <li><a href="/edit/kojim/100">report3</a></li>
      <% @reports.each do |r| %>
        <li><a href="/report/<%= r['author'] %>/<%= r['runid'] %>"><%= r['runid'] %></a> by <%= r['author'] %></li>
      <% end %>
    </ul>
  </li>
  <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/akabeko.png'></img>
  <li>
    <h3>お知らせ</h3>
    <ul>
      <li>現在こっそり公開のプレβ版です、お見せするのも恥ずかしい状態なので積極的なShareやRTは控えていただきたく</li>
      <li>エラーたくさんあるのは許して</li>
      <li>Twitter認証はユーザー名取得にしか使ってないのでご安心ください</li>
      <li>runファイルは好きにアップロードしてください、開発中につき勝手に削除してしまうことも多々あります、ご了承ください。</li>
    </ul>
  </li>
  <li>
    <h3>使い方</h3>
    <ul>
      <li>authリンクをクリックするとTwitter認証でログインできます</li>
      <li>その後mypageに移動し、runファイルをアップロードします</li>
      <li>runファイルはSteamから確認できます。
        <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/how_to_find_runfile1.png' style='width: 300px'></img>
        <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/how_to_find_runfile2.png' style='width: 300px'></img>
        <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/how_to_find_runfile3.png' style='width: 300px'></img>
      </li>
    </ul>
  </li>
  <li>
    <h3>ロードマップ</h3>
    <ul>
      <li>
        プレイログ表示関連
        <ul>
          <li>変なrunファイル与えてもエラーにならないようにする</li>
          <li>ランダムイベントの結果表示を拡充</li>
          <li>欠けている画像を追加(重労働！)</li>
          <li>カードを日本語版のものに差し替え</li>
          <li>UIを格好良くしたいなぁ(協力者募集中)</li>
        </ul>
      </li>
      <li>
        プレイログ登録関連
        <ul>
          <li>記事タイトル、プレイヤーコメントを実装</li>
          <li>キーカード、キーレリックの選択機能を実装</li>
        </ul>
      </li>
      <li>
        Twitter関連
        <ul>
          <li>プレイヤーアイコン表示したい</li>
          <li>ツイートボタンを追加</li>
          <li>Twitter投稿時にサムネイルが表示されると嬉しいよね</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<%= @text %>

