<html>
<head>
  <title>SlayTheReport</title>
  <link rel="stylesheet" href="/style.css" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R37V7Z5D57"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R37V7Z5D57');
</script>

</head>

<body>
<% require_relative '../image' %>

<div class='header'>
  <header class='title'>SlayTheReport</header>
  <header class='menu'>
    <ul class='pages'>
      <li class='current'>トップページ</li>
      <% if @twitter != nil then %>
        <li><a href="/mypage">マイページ</a></li>
      <% else %>
        <li><a href="/auth">ログイン</a></li>
      <% end %>
      <li><a href="/help">ヘルプ</a></li>
    </ul>
  </header>
</div>

<h3>お知らせ</h3>
<ul>
  <li>β版です。ご自由にrunファイルをアップロードしたり、プレイレポートを書いたりしてください。</li>
</ul>

<table class='reports'>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>投稿者</th>
      <th>概要</th>
      <th>キーカード</th>
      <th>キーレリック</th>
    </tr>
  </thead>
  <tbody>
  <% @reports.each do |r| %>
    <tr>
      <td>
        <a href="/report/<%= r.author %>/<%= r.run_id %>"><%= h(r.title) %></a>
        <p><%= h( r.description) %></p>
      </td>
      <td><%= r.author %></td>
      <td>
        <ul>
        <li>A<%= r.run.ascension_level %></li>
        <li>floor: <%= r.run.floor_reached %></li>
        <li><%= if r.run.victory then 'win' else 'lose' end %></li>
        </ul>
      </td>
      <td><%= r.key_cards.map{|c| img(c)}.join %></td>
      <td><%= r.key_relics.map{|c| img(c)}.join %></td>
    </tr>
  <% end %>
  </tbody>
</table>

</body>
</html>
