<h1>SlayTheReport</h1>
<h2>top page</h2>

<ul>
  <% if session[:twitter_token] != nil and session[:twitter_secret] != nil then %>
    <li><a href="/mypage">mypage</a></li>
  <% else %>
    <li><a href="/auth">auth</a></li>
  <% end %>
  <li>
    <h3>reports</h3>
    <ul>
      <li><a href="/edit/kojim/100">report3</a></li>
      <% @reports.each do |r| %>
        <li><a href="/report/<%= r['author'] %>/<%= r['runid'] %>"><%= r['runid'] %></a> by <%= r['author'] %></li>
      <% end %>
    </ul>
  </li>
  <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/akabeko.png'></img>
</ul>
<%= @text %>

