<html>
<head>
  <%= render(:erb, :_headtags, {}, {:title => "#{h(@report.title)}"}) %>
  <link rel="stylesheet" href="/style.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
<% if @is_edit_mode then %>
    var is_edit_mode = true;
<% else %>
    var is_edit_mode = false;
<% end %>
  </script>
  <script>
    $(function(){
      // キーカード, キーレリック
      var deck_count = 0;
      var relic_count = 0;
      $('.master_deck input:checked').each(function() {
        $(this).parent().find('img').toggleClass('selected');
        deck_count++;
      });
      $('.master_relic input:checked').each(function() {
        $(this).parent().find('img').toggleClass('selected');
        relic_count++;
      });
      if (is_edit_mode) {
        $('.master_deck img').click(function(e) {
          var input = $(e.target).parent().find('input');
          if (input.prop('checked')) {
            input.prop('checked', false);
            $(e.target).toggleClass('selected');
            deck_count--;
          } else if (deck_count < 3) {
            input.prop('checked', true);
            $(e.target).toggleClass('selected');
            deck_count++;
          }
        });
        $('.master_relic img').click(function(e) {
          var input = $(e.target).parent().find('input');
          if (input.prop('checked')) {
            input.prop('checked', false);
            $(e.target).toggleClass('selected');
            relic_count--;
          } else if (relic_count < 1) {
            input.prop('checked', true);
            $(e.target).toggleClass('selected');
            relic_count++;
          }
        });
      }
      // マップ追従処理
      $(window).scroll(function(e) {
        var min_val = 99999;
        var min_id  = 100;
        $('h2.floor').each(function(idx, e) {
          var val = Math.abs($(e).offset().top - $(window).scrollTop())
          if (val < min_val) {
            min_val = val;
            min_id  = e.dataset.id;
          }
        });
        // current actのみ表示
        $('.tree').removeClass('selected');
        if (min_id <18)      $('.map_1').addClass('selected');
        else if (min_id <35) $('.map_2').addClass('selected');
        else                 $('.map_3').addClass('selected');
        // current floorのみ selected付与
        $('.map span').removeClass('selected');
        $('#map_floor_' + min_id).addClass('selected');
      });
    })
  </script>

<% unless @is_edit_mode then %>
  <meta name='twitter:card'       content='summary'/>
  <meta property='og:url'         content='https://slaythereport.kojim.net/report/<%=h(@report.author)%><%=h(@report.run_id)%>'/>
  <meta property='og:title'       content='<%= h(@report.title) %>'/>
  <meta property='og:description' content='<%= h(@report.description) %>'/>
  <meta property='og:image'       content='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/<%=h(@report.run.character_chosen)%>_portrait.jpg'/>
<% end %>

</head>

<body>
<% require_relative '../image' %>

<%= render(:erb, :_header) %>

<% if @is_edit_mode then %>
  <form target='.' method='post'>
    <input type='hidden' name='password' value='<%= h(request["password"])%>'/>
<% end %>
<h1>GameInfo</h1>

<% if @is_edit_mode then %>
  <p>タイトル: <input type='text' name='title' maxlength='20' value='<%= h(@report.title) %>' /></p>
<% else %>
  <p>タイトル: <%= h(@report.title) %> 
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="<%= h(@report.title) %> by <%= h(@report.author) %>" data-hashtags="SlayTheReport" data-show-count="true">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>
<% end %>

<% if @is_edit_mode then %>
  <p>一言説明: <textarea rows='2' cols='60' maxlength='50' name='description'><%= h(@report.description) %></textarea>
<% else %>
  <p>一言説明: <%= h(@report.description) %> </p>
<% end %>

<p>player: <%= h(@report.author) %></p>
<% if @is_edit_mode then %>
  <p>runid: <%= h(@report.run_id) %></p>
<% else %>
  <p>runid: <a href='<%= request.path_info%>?raw=true'><%= h(@report.run_id) %></a></p>
<% end %>
<p>seed: <%= h(@report.run.seed_text) %></p>
<p>AscensionLevel: <%= h(@report.run.ascension_level) %></p>

<h2>deck(<%=@report.run.master_deck.size%>) </h2>

<div class='master_deck <%= if @is_edit_mode then 'clickable' else '' end %>'>
<% @report.run.master_deck.each_with_index do |c,idx| %>
  <span>
  <%= img(c,80) %>
  <input type='checkbox' name='key_card_<%= idx %>' value='<%=c%>' style='display:none' <%= if @report.key_cards_pos.include? idx.to_s then 'checked="checked"' else '' end %>/>
  </span>
<% end %>
</div>

<h2>relics(<%=@report.run.relics.size%>)</h2>

<div class='master_relic <%= if @is_edit_mode then 'clickable' else '' end %>'>
<% @report.run.relics.each_with_index do |c,idx| %>
  <span>
  <%= img(c,60) %>
  <input type='checkbox' name='key_relic_<%= idx %>' value="<%=c%>" style='display:none' <%= if @report.key_relics_pos.include? idx.to_s then 'checked="checked"' else '' end %>/>
  </span>
<% end %>
</div>

<h1>Floors</h1>
<div class='report_body'>

<div class='content'>

<% @report.run.floors.each_with_index do |f,idx| %>
  <h2 class='floor' data-id='<%= f.floor_id %>'> Floor <%= f.floor_id %> </h2>
  <div class='f_container'>
    <div class='f_events'>
      <div class='f_event_summary'>
        <div class='f_event_image'><%= img(f.image, 250) %></div>
        <div class='f_event_text'></div>
      </div>
      <div class='f_player_action'>
        <div class='f_player_choise'>
          <% if f.player_choise != nil then %>
            行動選択: <%= f.player_choise %>
          <% end %>
        </div>
        <div class='f_life_gold'>
          <%= img('hp', 30) %> <%= f.hp %> / <%= f.max_hp %> (<%= sprintf("%+d", f.hp_diff) %>)
          <%= img('gold', 30) %> <%= f.gold %> (<%= sprintf("%+d", f.gold_diff) %>)
        </div>
        <% f.obtain_chosen_cards.each do |c| %>
          <div class='f_chosen_cards'>
            <% if c['picked'] != 'SKIP' && c['picked'] != nil %>
              <div class='picked'>
                <%= img(c['picked'], 80) %>
                <p> picked</p> 
              </div>
            <% end %>
            <% c['not_picked'].each do |np| %>
              <div>
                <%= img(np, 80) %>
                <p> not picked</p> 
              </div>
            <% end %>
            </p>
          </div>
        <% end %>
        <div class='f_obtain_objects'>
          <% f.obtain_objects.each do |c| %>
            <%= img(c, 80) %>
          <% end %>
        </div>
        <% f.upgrade_cards.each do |c| %>
          <div class='f_upgrade_cards'>
            <%= img(c, 80) %>
            ⇒
            <%= img(c+'+1', 80) %>
          </div>
        <% end %>
        <div class='f_remove_cards'>
          <% f.remove_cards.each do |c| %>
            <div class='removed'>
              <%= img(c, 80) %>
              <p> removed</p> 
            </div>
          <% end %>
        </div>
        <div class='f_bottled_cards'>
          <% f.bottled_cards.each do |c| %>
            <div class='bottled'>
              <%= img(c, 80) %>
              <p> bottled</p> 
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class='f_comment'>
      <% if @is_edit_mode then %>
        <% if @report.floor_comment[idx] != nil %>
          <textarea rows='3' name='report_<%= format("%03d", idx) %>'><%= h(@report.floor_comment[idx]) %></textarea>
        <% else %>
          <textarea rows='3' name='report_<%= format("%03d", idx) %>'></textarea>
        <% end %>
      <% else %>
        <% if @report.floor_comment[idx] != nil %>
          <p><%= h(@report.floor_comment[idx]) %></p>
        <% else %>
          <p></p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<div>
<div class='map'>
<% @report.run.maps.each_with_index do |act, id| %>
  <div class='tree map_<%=id+1%>'>
  <h4>Act <%=id+1%></h4>
  <div class='boss' id='map_floor_<%=(id+1)*17-1%>'><%=if @report.run.bosses[id] != nil then img('map_' + @report.run.bosses[id]) else '<br/>' end %></div>
  <% act.reverse.each_with_index do |line,f| %>
    <% if f%2 == 0 then %>
      <% floor = 15+17*id-f/2 %>
      <span id='map_floor_<%=floor%>'>
      <% line.each_with_index do |t,t_index| %><img src='<%= case t[0]
                      when 'R'
                        'https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/minimap/rest.png'
                      when '?'
                        'https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/minimap/unknown.png'
                      when 'M'
                        'https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/minimap/monster.png'
                      when 'E'
                        'https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/minimap/elite.png'
                      when 'T'
                        'https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/minimap/chest.png'
                      when '$'
                        'https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/minimap/shop.png'
                      else
                        'https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/minimap/empty.png'
                      end
                      %>' class='<%= if t_index%2 == 0 then "full" else "half" end %> <%= if t[1] then "selected" else "" end %>'/><% end %>
      </span><br/>
    <% else%>
      <span>
      <% line.each_with_index do |t,t_index| %><img src='<%= case t[0]
                      when '\\'
                        'https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/minimap/left.png'
                      when '|'
                        'https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/minimap/up.png'
                      when '/'
                        'https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/minimap/right.png'
                      else
                        'https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/minimap/empty.png'
                      end %>' class='<%= if t_index%2 == 0 then "full" else "half" end %> connector'/><% end %>
      </span><br/>
    <% end%>
  <% end %>
  </div>
<% end %>
</div>
</div>

</div>

<% if @is_edit_mode then %>
  <button type='submit'>submit</button>
  </form>
<% end %>
</body>
</html>

