<html>
<head>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
<% require_relative '../image' %>

<h1>GameInfo</h1>
<p>player: <%= @player %></p>
<p>runid: <%= @runid %></p>
<p>AscensionLevel: <%= @run.ascension_level %></p>

<h2>deck</h2>
<div class='master_deck'>
<% @run.master_deck.each do |c| %>
  <%= img(c,80) %>
<% end %>
</div>
<h2>relics</h2>
<div class='master_relic'>
<% @run.relics.each do |c| %>
  <%= img(c,60) %>
<% end %>
</div>


<h1>Floors</h1>

<% @run.floors.each do |f| %>

  <h2> Floor <%= f.floor_id %> </h2>
  <div class='f_container'>
    <div class='f_events'>
      <div class='f_event_summary'>
        <div class='f_event_image'><%= img(f.image, 250) %></div>
        <div class='f_event_text'></div>
      </div>
      <div class='f_player_action'>
        <div class='f_player_choise'>
          <% if f.player_choise != nil then %>
            行動選択: <%= f.player_choise %>
          <% end %>
        </div>
        <div class='f_life_gold'>
          <%= img('hp', 30) %> <%= f.hp %> / <%= f.max_hp %> (<%= sprintf("%+d", f.hp_diff) %>)
          <%= img('gold', 30) %> <%= f.gold %> (<%= sprintf("%+d", f.gold_diff) %>)
        </div>
        <% f.obtain_chosen_cards.each do |c| %>
          <div class='f_chosen_cards'>
            <% if c['picked'] != 'SKIP' %>
              <div class='picked'>
                <%= img(c['picked'], 80) %>
                <p> picked</p> 
              </div>
            <% end %>
            <% c['not_picked'].each do |np| %>
              <div>
                <%= img(np, 80) %>
                <p> not picked</p> 
              </div>
            <% end %>
            </p>
          </div>
        <% end %>
        <div class='f_obtain_objects'>
          <% f.obtain_objects.each do |c| %>
            <%= img(c, 80) %>
          <% end %>
        </div>
        <div class='f_upgrade_cards'>
          <% f.upgrade_cards.each do |c| %>
            <%= img(c, 80) %>
            ⇒
            <%= img(c+'+1', 80) %>
          <% end %>
        </div>
        <div class='f_remove_cards'>
          <% f.remove_cards.each do |c| %>
            <div class='removed'>
              <%= img(c, 80) %>
              <p> removed</p> 
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class='f_comment'> <p> player comment: snecko snecko snecko snecko snecko snecko snecko snecko snecko snecko snecko snecko snecko snecko snecko snecko snecko snecko snecko </p> </div>
  </div>
<% end %>

</body>
</html>

