<html>
<head>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
<% require_relative '../image' %>

<% if @is_edit_mode then %>
  <form target='.' method='post'>
<% end %>
<a href="/">top page</a>
<h1>GameInfo</h1>
<% if @is_edit_mode then %>
  <p>title: <input type='text' name='title' value='<%= h(@report.title) %>' /></p>
<% else %>
  <p>title: <%= h(@report.title) %> </p>
<% end %>
<p>player: <%= h(@report.author) %></p>
<p>runid: <%= h(@report.run_id) %></p>
<p>seed: <%= h(@run.seed_text) %></p>
<p>AscensionLevel: <%= h(@run.ascension_level) %></p>

<h2>deck(<%=@run.master_deck.size%>) </h2>
<div class='master_deck'>
<% @run.master_deck.each do |c| %>
  <%= img(c,80) %>
<% end %>
</div>
<h2>relics(<%=@run.relics.size%>)</h2>
<div class='master_relic'>
<% @run.relics.each do |c| %>
  <%= img(c,60) %>
<% end %>
</div>


<h1>Floors</h1>

<% @run.floors.each_with_index do |f,idx| %>

  <h2> Floor <%= f.floor_id %> </h2>
  <div class='f_container'>
    <div class='f_events'>
      <div class='f_event_summary'>
        <div class='f_event_image'><%= img(f.image, 250) %></div>
        <div class='f_event_text'></div>
      </div>
      <div class='f_player_action'>
        <div class='f_player_choise'>
          <% if f.player_choise != nil then %>
            行動選択: <%= f.player_choise %>
          <% end %>
        </div>
        <div class='f_life_gold'>
          <%= img('hp', 30) %> <%= f.hp %> / <%= f.max_hp %> (<%= sprintf("%+d", f.hp_diff) %>)
          <%= img('gold', 30) %> <%= f.gold %> (<%= sprintf("%+d", f.gold_diff) %>)
        </div>
        <% f.obtain_chosen_cards.each do |c| %>
          <div class='f_chosen_cards'>
            <% if c['picked'] != 'SKIP' %>
              <div class='picked'>
                <%= img(c['picked'], 80) %>
                <p> picked</p> 
              </div>
            <% end %>
            <% c['not_picked'].each do |np| %>
              <div>
                <%= img(np, 80) %>
                <p> not picked</p> 
              </div>
            <% end %>
            </p>
          </div>
        <% end %>
        <div class='f_obtain_objects'>
          <% f.obtain_objects.each do |c| %>
            <%= img(c, 80) %>
          <% end %>
        </div>
        <% f.upgrade_cards.each do |c| %>
          <div class='f_upgrade_cards'>
            <%= img(c, 80) %>
            ⇒
            <%= img(c+'+1', 80) %>
          </div>
        <% end %>
        <div class='f_remove_cards'>
          <% f.remove_cards.each do |c| %>
            <div class='removed'>
              <%= img(c, 80) %>
              <p> removed</p> 
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class='f_comment'>
      <% if @is_edit_mode then %>
        <% if @report.floor_comment[idx] != nil %>
          <textarea rows='3' name='report_<%= format("%03d", idx) %>'><%= h(@report.floor_comment[idx]) %></textarea>
        <% else %>
          <textarea rows='3' name='report_<%= format("%03d", idx) %>'></textarea>
        <% end %>
      <% else %>
        <% if @report.floor_comment[idx] != nil %>
          <p><%= h(@report.floor_comment[idx]) %></p>
        <% else %>
          <p></p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @is_edit_mode then %>
  <button type='submit'>submit</button>
  </form>
<% else %>
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="<%= h(@report.title) %> by <%= h(@report.author) %>" data-hashtags="SlayTheReport" data-show-count="true">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<% end %>
</body>
</html>

