<html>
<head>
  <%= render(:erb, :_headtags) %>
</head>

<body>

<%= render(:erb, :_header) %>

<ul>
<% @authors.each do |author, count| %>
  <li>
    <a href='/users/<%=h(author)%>'><%= author %></a>(<%= count.size %>)
  </li>
<% end %>
</ul>

</body>
</html>
