<html>
<head>
  <%= render(:erb, :_headtags, {}, {:title => "#{h(@author)}さんのレポート"}) %>
</head>

<body>

<%= render(:erb, :_header) %>

<div class='breadcrumb'>
  <a href='/users'>投稿者別一覧</a> ＞ <%= h(@author)%>
  <% if @author != 'anonymous' then %>
    <a href='https://twitter.com/<%=h(@author)%>' target='_blank'>
      <img class='twitter_logo' src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/twitter_logo.png'/>
    </a>
  <% end %>
</div>

<%= render(:erb, :_reports) %>

</body>
</html>
<html>

