<html>
<head>
  <%= render(:erb, :_headtags) %>
</head>

<body>

<%= render(:erb, :_header, {}, {:is_sticky => true}) %>

<div class='content'>
<div class='users'>
<ul>
<% @authors.each do |author, count| %>
  <li>
    <img class='author' src='<%= @icons[author] %>' alt='<%= author %>'/>
    <a href='/users/<%=h(author)%>'><%= author %></a>(<%= count.size %>)
  </li>
<% end %>
</ul>
</div>
Total:  <%= @total %>
</div>

</body>
</html>
