<html>
<head>
  <title>SlayTheReport</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>

<%= render(:erb, :_header) %>

<a href='/users'>投稿者別一覧</a> ＞ <%= h(@author)%>

<table class='reports'>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>投稿者</th>
      <th>概要</th>
      <th>キーカード</th>
      <th>キーレリック</th>
    </tr>
  </thead>
  <tbody>
  <% @reports.each do |r| %>
    <tr>
      <td>
        <a href="/report/<%= r.author %>/<%= r.run_id %>"><%= h(r.title) %></a>
        <p><%= h( r.description) %></p>
      </td>
      <td><%= r.author %></td>
      <td>
        <ul>
        <li>A<%= r.run.ascension_level %></li>
        <li>floor: <%= r.run.floor_reached %></li>
        <li><%= if r.run.victory then 'win' else 'lose' end %></li>
        </ul>
      </td>
      <td><%= r.key_cards.map{|c| img(c)}.join %></td>
      <td><%= r.key_relics.map{|c| img(c)}.join %></td>
    </tr>
  <% end %>
  </tbody>
</table>

</body>
</html>
<html>

